img {
    width: 75px;
    height: 75px;
    }
    #hj
    {
    color:#ffffff;
    }
    header{
    display: flex;
    width: auto;
    height: auto;
    background-color: #000;
    }
    .body{
    width: 100%; 
    background-color: rgb(255, 255, 255);
}
h3{
flex-wrap: wrap;
position: relative;
top: 20px;
}
main{
background-color: rgb(255, 255, 255);
}
section{
display:flex;
}
button{
border-radius: 50%;
} 